<h2 class="title">Profile Page</h2>

<h4 class="greeting" style="color: #fff;">Welcome to {{email}}'s profile.<br>Here are my recent posts.</h4>
<form action="/posts/new" method="post">
  <input name="recipient" type="hidden" value="{{email}}">
  <input style="width: 300px;" id="write-on-wall" type="submit" value="Write on {{email}}'s wall">
</form>
<div class="posts">
  <ul class="posts" style="background-color:rgba(255,255,255,0.75); padding: 4%;">
  {{#each posts}}
    <div class="post-container">
      <div class="grid-container">
        <div class="grid-child">
          {{!--<form action="/posts/new" method="post">
            <input name="recipient" type="hidden" value="{{this.user}}">
            <input id="write-on-wall" type="submit" value="Write on {{this.user}}'s wall">
          </form>--}}
        </div>
        <div class="grid-child">  
          {{#if this.canDelete}}
            <form action="/posts/delete" method="post" class="delete" >
              <input name="_id" type="hidden" value="{{this._id}}">
              <input name="delete" type="submit" value ="Delete 🗑️">
            </form>
          {{/if}}
        </div>
      </div>
      <li class="each-message" style="padding: 4%";>Posted on {{this.date}}<br><br><h2>{{this.message}}</h2><br><br>Posted by {{this.user}}</li>
      <div class="like-container">
        <form action="/posts/updateLikes/{{this.id}}" method="post">
          <button id="like-button"> Like 👍 </button>
          <span id="like-counter">{{this.likes.count}}</span>
        </form> 
      </div>
        {{!-- <form action="/posts/new" method="post">
          <input name="recipient" type="hidden" value="{{this.user}}">
          <input id="write-on-wall" type="submit" value="Write on {{this.user}}'s wall">
        </form> --}}
    </div>
    
    <div class = "comments">
      <form action="/posts/comment/{{this._id}}" method="get">
        <button id="comment-button">
          Comment
        </button>
      </form>
      <h3> Comments: </h3>
      <div class='comment-container'>
        <ul class="Comment-List">
          {{#each this.comments}}
            <li id="commenting"> {{this}} </li>
          {{/each}}
        </ul>
      </div>
      <hr class="dashed">
    </div>
    {{/each}}
  </ul>

<h4 style="color: #fff;">Leave a message on {{email}}'s wall below.</h4>
  <div id="wall" class="posts" style="background-color:rgba(255,255,255,0.75); padding: 4%;">
    {{#each wallPosts}}
      <div class="post-container">
        <div class="grid-container">
          <div class="grid-child">
          {{#if this.canDelete}}
            <form action="/posts/delete" method="post" class="delete" >
              <input name="_id" type="hidden" value="{{this._id}}">
              <input name="delete" type="submit" value ="Delete 🗑️">
            </form>
          {{/if}}
          </div>
          <div class="grid-child">
          </div>
        </div>
        <li class="each-message" style="padding: 4%">Posted on {{this.date}}<br><br><h2>{{this.message}}</h2><br><br>Posted by {{this.user}}</li>
        <div class="like-container">
          <form action="/posts/updateLikes/{{this.id}}" method="post">
            <button id="like-button"> Like 👍 </button>
            <span id="like-counter">{{this.likes.count}}</span>
          </form> 
        </div>
      </div>
          
      <div class = "comments">
        <form action="/posts/comment/{{this._id}}" method="get">
          <button id="comment-button">
            Comment
          </button>
        </form>
        <h4 style:"color: #fff">Comments: </h4>
        <div class='comment-container'>
          <ul class="Comment-List">
            {{#each this.comments}}
              <li id="commenting"> {{this}} </li>
            {{/each}}
          </ul>
        </div>
        <hr class="dashed">
      </div>
    {{/each}}
  </div>
</div>